*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}


/* Header */
.header {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar */
  .navbar {
    padding:1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    color:#000;
  }
  
  /* Logo */
  .logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color:#000;
  }
  
  /* Navigation Links */
  .nav-links {
    font-size:1.5rem;
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  /* Navigation Link */
  .nav-link {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s;
    color:#000;
  }
  
  .nav-link:hover {
    color: #08c;
  }
  
 
  
  /* Content Container */
  .content-container {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    align-items:center;
  }
  
  /* Profile Info */
  .profile-info {
    text-align: left;
  }
  
  .profile-title {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .name {
    color: #08c;
  }
  
  .profile-description {
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
  }
  
  .specialty {
    font-weight: bold;
  }
  
  /* Social Icons */
  .social-icons {
    margin-top:1.5rem;
    display: flex;
    align-items:center;
    gap: 1rem;
  }
  
  .social-icons a {
    text-decoration: none;
  }
  i {
    font-size:2.3rem;
    color: #fff;

  }
  
  /* Download Button */
  .download-button {
    border: 4px solid #08c;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-weight: bold;
    color: #08c;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .download-button:hover {
    background-color: #08c;
    color: #fff;
  }
  
  /* Profile Image */
  .profile-img {
    max-height: 75vh;
    background-color: #f3f3f3;
    border: 4px solid #f3f3f3;
  }
  
  /* About Section */
  .about-section {
    background-color: #121212;
    padding: 1rem;
    color: #fff;
    margin:auto;
  }

  .about-container{
    border-top:5px solid #f33;
    border-bottom:5px solid #f33;
    max-width:1000px;
    margin:auto;
    padding:1.5rem;
  }
  
  /* Section Title */
  .section-title {
    font-size: 3rem;
    font-weight: bold;
    color: #08c;
    text-align:center;
  }
  
  /* About Description */
  .about-description {
    font-size: 1.5rem;
    max-width: 70ch;
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.5;
    margin:auto;
  }
  
  /* Skills Section */
  .skills-section {
    background-color: #121212;
    padding: 2rem;
    color: #fff;
  }
  
  /* Skills Grid */
  .skills-grid {
    margin-top:2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  /* Skill */
  .skill {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  /* Skill Icon */
  .skill-icon {
    font-size: 3rem;
    color: #fff;
  }
  
  /* Skill Bar */
  .skill-bar {
    width: 100%;
    border: 4px solid #fff;
    border-radius: 9999px;
    overflow: hidden;
    height: 2rem;
  }
  
  /* Skill Progress */
  .skill-progress {
    height: 100%;
    background-color:#08c;
  }
  .html5-progress{
    width:75%;  
  }
  .css3-progress{
    width:65%;  
  }
  
  .js-progress{
    width:30%;  
  }
  
  .github-progress{
    width:40%;  
  }
  /* Additional Skills */
  .additional-skills {
    padding: 2rem;
  }

  .additional-skills-container{
    display:flex;
    gap:3em;
  }
  
  /* Additional Skills Title */
  .additional-skills-title {
    font-size: 3rem;
    font-weight: bold;
    color: #f33;
    text-align:center;
  }
  
  
  /* Additional Skill */
  .additional-skill {
    margin-top: 2rem;
  }
  
  /* Additional Skill Title */
  .additional-skill-title {
    font-size: 2rem;
    color: #ffb300;
  }
  
  /* Additional Skill Description */
  .additional-skill-description {
    font-size: 1.5rem;
    max-width: 70ch;
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.5;
  }
  
  /* Contact Section */
  .contact-section {
    background-color: #121212;
    padding: 2rem;
    color: #fff;
  }
  
  /* Contact Section Title */
  .contact-section-title {
    font-size: 4rem;
    font-weight: bold;
    color: #08c;
  }
  
  /* Contact Grid */
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  /* Contact Info */
  .contact-info {
    text-align: center;
  }
  
  /* Contact Description */
  .contact-description {
    font-size: 1.5rem;
    max-width: 70ch;
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.5;
  }
  
  /* Contact Links */
  .contact-links {
    margin-top:1rem;
    display: flex;
    justify-content:center;
    gap: 1rem;
  }
  
  /* Contact Link */
  .contact-link {
    font-size: 1.5rem;
    text-decoration: underline;
    color: #ffb300;
  }
  
  /* Contact Details */
  .contact-details {
    display: flex;
    flex-direction:column;
    gap: 1rem;
  }
  
  /* Contact Detail */
  .contact-detail {
    font-size: 2rem;
    display:flex;

    gap:1rem;
  }
  
  /* Contact Icon */
  .contact-icon {
    font-size: 2rem;
    color: #08c;
  }
  
  /* Footer */
  footer {
    text-align: center;
    background-color: #dcdcdc;
    padding: 1rem;
    color: #fff;
  }
  